<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<meta name="keywords" content=""/>
	<meta name="description" content="" />
	<link rel="stylesheet" href="reset.css" />
	<link rel="stylesheet" href="iconfont.css" />
	<link rel="stylesheet" href="common.css" />
	<link rel="stylesheet" href="style.css" />
	<link rel="stylesheet" href="../libs/Swiper/dist/css/swiper.min.css" />
	<script>
		var sUserAgent = navigator.userAgent.toLowerCase();
		var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
		var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
		var bIsMidp = sUserAgent.match(/midp/i) == "midp";
		var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
		var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
		var bIsAndroid = sUserAgent.match(/android/i) == "android";
		var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
		var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
		if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM){
		   window.location.href="http://m.t2wl.com/";
		}
	</script>
</head>
<body>
	<div class="page">
		<header class='wrap-1200'>
			<div id="logo">天二网络</div>
			<div class="menu">
				<div class="telphone"><span class="iconfont"></span>0731-88758448</div>
				<nav>
					<ul>
						<li><a href="">网站首页</a></li>
						<li class='hot'>
							<a href="">网站制作</a>
							<div class="hid-box">
								<div>
									<a href=""><span>模板建站</span></a>
								</div>
								<div>
									<a href=""><span>网页设计</span></a>
								</div>
							</div>
						</li>
						<li><a href="">网络推广</a></li>
						<li><a href="">网络营销</a></li>
						<li><a href="">微信营销</a></li>
						<li><a href="">关于我们</a></li>
						<li><span class="iconfont"></span>联系我们</li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="slider-wrap">
			<div class="slider">
				<div class="swiper-container slier-items1">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="images/banner.png" ></div>
						<div class="swiper-slide">
							<img src="images/banner.png" ></div>
						<div class="swiper-slide">
							<img src="images/banner.png" ></div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
					<!-- 如果需要导航按钮 -->
				   <div class="swiper-button-prev"></div>
				   <div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
		<section class='tc'>
			<p>产品服务 / <span class='pink'>Services</span></p>
			<p></p>
			<p class="red">详情咨询: 0731-88758448</p>
		</section>
		<section>
			<ul class="clearfix">
				<li>
					<div class="iconfont"></div>
					<p>营销型网站制作</p>
					<p>
						量身打造全方位的营销型网站，让网站找到客户，让客户找到您！从基础营销网站到全能营销网站，您的选择您做主。
					</p>
				</li>
				<li>
					<div class="iconfont"></div>
					<p>WAP手机网站建设</p>
					<p>
						移动信息时代，拥有WAP手机网站我们专注做网站、行业系统，采用php程序开发，高性能，高安全性，长沙做网站十年经验。
					</p>
				</li>
				<li>
					<div class="iconfont"></div>
					<p>网上商城系统</p>
					<p>
						自主研发的商城系统，功能非常强大，维护起来方便，根据客户自身的要求来定制B2C平台。
					</p>
				</li>
				<li>
					<div class="iconfont"></div>
					<p>行业系统</p>
					<p>
						各种行业CRM、ERP定制。推出旅游行业收客及出团管理系统，旅游企业快速实现电商务化、信息化，节约管理成本。
					</p>
				</li>
			</ul>
		</section>
		<section class="tc">
			<p>经典案例 / <span class='pink'>Services</span></p>
			<p>提供企业形象管理、视觉创意设计、网站建设与维护、电商平台开发、APP及微信平台开发等服务</p>
		</section>
		<section class="items-list">
			<ul class="clearfix">
				<li>
					<img src="" alt="" />
					<div class="dn">
						<span class="iconfont"></span>
						<br />
						<span></span>
					</div>
				</li>
				<li>
					<img src="" alt="" />
					<div class="dn">
						<span class="iconfont"></span>
						<br />
						<span></span>
					</div>
				</li>
				<li>
					<img src="" alt="" />
					<div class="dn">
						<span class="iconfont"></span>
						<br />
						<span></span>
					</div>
				</li>
				<li>
					<img src="" alt="" />
					<div class="dn">
						<span class="iconfont"></span>
						<br />
						<span></span>
					</div>
				</li>
				<li>
					<img src="" alt="" />
					<div class="dn">
						<span class="iconfont"></span>
						<br />
						<span></span>
					</div>
				</li>
				<li>
					<img src="" alt="" />
					<div class="dn">
						<span class="iconfont"></span>
						<br />
						<span></span>
					</div>
				</li>
				<li>
					<img src="" alt="" />
					<div class="dn">
						<span class="iconfont"></span>
						<br />
						<span></span>
					</div>
				</li>
				<li>
					<img src="" alt="" />
					<div class="dn">
						<span class="iconfont"></span>
						<br />
						<span></span>
					</div>
				</li>
			</ul>
		</section>
		<section>
			<div class="tab">
				<ul>
					<li><label for="design">网页设计</label></li>
					<li><label for="design">网站推广</label></li>
					<li><label for="design">网络推广</label></li>
					<li><label for="design">网络营销</label></li>
					<li><label for="design">微信营销</label></li>
					<li><label for="design">模板建站</label></li>
				</ul>
				<div class="line"></div>
				<div class="tab-items">
					<input type="radio"  name='tag'/>
					<div></div>
					<input type="radio"  name='tag'/>
					<div></div>
					<input type="radio"  name='tag'/>
					<div></div>
					<input type="radio"  name='tag'/>
					<div></div>
					<input type="radio"  name='tag'/>
					<div></div>
					<input type="radio"  name='tag'/>
					<div></div>
				</div>
			</div>
		</section>
		<section class="wrap-1200">
			<div class="friend-links">
				<dl>
					<dt>友情链接<span>LINKS</span></dt>
					<dd><a href=""></a></dd>
					<dd><a href=""></a></dd>
					<dd><a href=""></a></dd>
					<dd><a href=""></a></dd>
					<dd><a href=""></a></dd>
					<dd><a href=""></a></dd>
					<dd><a href=""></a></dd>
					<dd><a href=""></a></dd>
					<dd><a href=""></a></dd>
					<dd><a href=""></a></dd>
					<dd><a href=""></a></dd>
					<dd><a href=""></a></dd>
					<dd><a href=""></a></dd>
					<dd><a href=""></a></dd>
					<dd><a href=""></a></dd>
				</dl>
			</div>
		</section>
		<footer>
			<div class="fr weixin">
				<span>关注我们</span>
			</div>
			<div>
				<p>长沙天二网络科技有限公司</p>
				<p>Copyright© 2013 http://www.t2wl.com http://www.t2wl.net All Rights Reserved</p>
				<p>备案号：湘ICP备13012702号-1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地址：长沙市解放东路89号华海3C数码广场A栋22楼22005室 </p>
				<p>邮箱：service@t2wl.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系电话：0731-88758448</p>
				<p></p>
			</div>
			<div class="tc">
				<a href="">关于我们</a>
				<a href="">联系我们</a>
				<a href="">网站地图</a>
				<a href="">网站统计</a>
				<span>关注我们:</span>
				<div class="bdsharebuttonbox">
					<a href="#" class="bds_more" data-cmd="more"></a>
					<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
					<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
					<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
					<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
					<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
				</div>
				<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
			</div>
		</footer>
	</div>
	<!--[if lt IE9]>
	<script>
	   (function() {
	     if (!
	     /*@cc_on!@*/
	     0) return;
	     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
	     var i= e.length;
	     while (i--){
	         document.createElement(e[i])
	     }
	})()
	</script>
	<![endif]-->
	<script src="../libs/jquery/dist/jquery.min.js"></script>
	<script src="../libs/Swiper/dist/js/swiper.min.js"></script>
	<script>
	 jQuery(document).ready(function($) {
	 	$('img').each(function(index, el) {
	 		if(this.fileSize <= 0 ){
	 			this.src = ''; //图片加载失败给个默认图片;
	 		}
	 	});
	 });
	</script>
</body>
</html>
