* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul {
  list-style: outside none none;
}

.dn {
  display: none;
}

.tc {
  text-align: center;
}

.fl {
  float: left;
}

.ov {
  overflow: hidden;
}

::selection {
  background: #ffd5a8;
}

::-moz-selection {
  background: #ffd5a8;
}

.header {
  height: 100px;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 111;
}
.header img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.front-page {
  min-width: 1000px;
}

.content {
  margin-top: 100px;
}

.swiper-button-prev {
  background-image: url("../images/zuo.png") !important;
}

.swiper-button-next {
  background-image: url("../images/you.png") !important;
}

.footer {
  margin-top: 30px;
  border-top: 1px solid black;
  overflow: hidden;
  padding-bottom: 30px;
}
.footer > ul {
  margin-top: 20px;
  overflow: hidden;
  list-style: outside none none;
}
.footer > ul li {
  float: left;
  width: 33%;
  text-align: center;
}
.footer > ul li dt {
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
  font-size: 20px;
  margin-bottom: 20px;
}
.footer > ul li dt:after {
  content: '';
  position: absolute;
  background: black;
  width: 60px;
  height: 1px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.footer > ul li dd {
  margin-bottom: 10px;
}

.fixed-footer {
  background: white;
  height: 50px;
  line-height: 50px;
  width: 100%;
  color: #a17d4e;
  border-top: 1px solid CurrentColor;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  transition: all linear .3s;
  z-index: 11;
}
.fixed-footer.active {
  height: 0;
  border-top: 0 none;
}

.l-header {
  background: black;
  position: relative;
  text-align: center;
}
.l-header > img {
  margin-top: 10px;
}
.l-header > div {
  background: white;
  padding: 10px 0;
}
.l-header > div:empty:after {
  content: 'please select category';
}
.l-header ul span:hover, .l-header ul dd:hover {
  color: white;
}
.l-header ul:first-of-type {
  color: #939393;
  margin: 10px 0;
}
.l-header ul:first-of-type li {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  transition: all linear .3s;
}
.l-header ul:first-of-type li:first-child span {
  display: block;
  cursor: pointer;
  transition: all linear .3s;
  border-right: 1px solid #939393;
}
.l-header ul:first-of-type li:first-child dl {
  margin-top: 10px;
}
.l-header ul:first-of-type li:first-child dl dd {
  transition: all linear .3s;
  margin: 10px 0;
}
.l-header ul:last-child {
  background: white;
  overflow: hidden;
  list-style: outside none none;
}
.l-header ul:last-child li {
  display: inline-block;
  width: 19%;
  cursor: pointer;
  padding: 10px 0;
  margin: 15px 0;
  border-right: 1px solid #e6e6e6;
  box-sizing: border-box;
  vertical-align: top;
}
.l-header ul:last-child li.slidedown dl {
  width: 100%;
  position: absolute;
  left: 0;
  border-bottom: 1px solid #e6e6e6;
}
.l-header ul:last-child li.slidedown dl dd {
  display: inline-block;
  padding: 15px 0;
  width: 10%;
  font-size: 18px;
  font-weight: normal !important;
  position: relative;
}
.l-header ul:last-child li.slidedown dl dd:after {
  content: attr(data-ct);
  height: 0;
  overflow: hidden;
  display: block;
  width: 100%;
  font-weight: bold;
}
.l-header ul:last-child li.slidedown dl dd:hover {
  color: black;
  font-weight: bold !important;
}
.l-header ul:last-child li.slidedown dl dd.active {
  color: black;
  font-weight: bold !important;
}
.l-header ul:last-child li.active {
  font-weight: bold;
}
.l-header ul:last-child li:hover {
  font-weight: bold;
}
.l-header ul:last-child li:after {
  content: attr(data-ct);
  height: 0;
  overflow: hidden;
  display: block;
  width: 100%;
  font-weight: bold;
}
.l-header ul:last-child li:last-child {
  border-right: 0 none;
}

.l-content {
  margin-bottom: 100px;
}
.l-content .big-img {
  position: relative;
}
.l-content .big-img > div {
  position: absolute;
  width: 30%;
  top: 100px;
  text-align: center;
  height: 50%;
  left: 100px;
  background: rgba(255, 255, 255, 0.5);
}
.l-content .big-img > div > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.l-content .big-img > div > div span:first-child {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  font-size: 20px;
}
.l-content .big-img > div > div span:first-child:after {
  content: '';
  position: absolute;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 50%;
  background: black;
}
.l-content .big-img > div a {
  display: inline-block;
  margin-top: 10px;
  color: black;
}
.l-content .l-title {
  font-size: 35px;
  margin: 50px 0;
}
.l-content .mou {
  text-align: center;
  margin-bottom: 30px;
}
.l-content .mou li {
  display: inline-block;
  padding: 0 30px;
  cursor: pointer;
}

.history {
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}
.history > div:first-child {
  width: 50%;
  float: left;
}
.history > div:first-child > div {
  width: 80%;
}
.history > div:last-child {
  overflow: hidden;
  position: absolute;
  width: 50%;
  padding-right: 10%;
  box-sizing: border-box;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  text-align: justify;
}
.history > div:last-child p:first-child {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.l-show {
  width: 90%;
  margin: 0 auto;
}
.l-show .col-50 {
  display: inline-block;
  width: 49%;
  margin-top: 30px;
}
.l-show .col-50:nth-child(3) {
  padding-right: 100px;
  box-sizing: border-box;
}
.l-show .col-50:last-child {
  padding-left: 100px;
  box-sizing: border-box;
}
.l-show .section_t {
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding: 20px 0;
}
.l-show .section_t span {
  font-size: 20px;
}

.swiper-container2 .swiper-button-next, .swiper-container2 .swiper-button-prev {
  width: 33%;
  background-color: #999;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  margin-top: 0;
  height: 100%;
  transition: all linear .3s;
}
.swiper-container2 .swiper-button-next:hover, .swiper-container2 .swiper-button-prev:hover {
  opacity: .3;
}

.swiper-container3 div.fl {
  width: 50%;
}
.swiper-container3 div.fl + div {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
}
.swiper-container3 div.fl + div p:first-child {
  font-size: 20px;
  margin-bottom: 10px;
}

.swiper-container2 .swiper-button-next {
  right: 0;
}
.swiper-container2 .swiper-button-prev {
  left: 0;
}

.a_i_box div.fl {
  width: 400px;
  margin-right: 80px;
  padding-left: 80px;
}
.a_i_box div.fl + div.ov {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: calc(100% - 560px);
  padding-right: 80px;
  box-sizing: border-box;
}
.a_i_box div.fl + div.ov p {
  text-align: justify;
}
.a_i_box div.fl + div.ov p:first-child {
  font-size: 30px;
  margin-bottom: 10px;
}

.l-mou {
  width: 50%;
  margin: 80px auto 0;
  text-align: center;
  position: relative;
}
.l-mou .l-section {
  margin-bottom: 50px;
}
.l-mou .l-section .mou-title {
  font-size: 30px;
}
.l-mou .l-section .mou-time {
  margin: 20px 0;
}
.l-mou .l-section .mou-des {
  margin-bottom: 20px;
}

.mou-items {
  position: absolute;
  right: -50%;
  width: 47%;
  border-left: 1px solid #e6e6e6;
  max-height: 500px;
  overflow: auto;
}
.mou-items li {
  margin: 10px 0;
  cursor: pointer;
}
.mou-items li a {
  text-decoration: none;
  color: black;
}

.video-list {
  margin-left: 33px;
  margin-top: 30px;
}
.video-list ul {
  overflow: hidden;
  text-align: center;
}
.video-list ul li {
  cursor: pointer;
  float: left;
  width: calc(33.3% - 33px);
  margin-right: 33px;
  margin-bottom: 30px;
}
.video-list ul li p {
  padding: 10px 0 0;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.swiper-container4 img + div {
  bottom: 10px;
  color: #ffffff;
  position: absolute;
  text-align: center;
  width: 100%;
}
.swiper-container4 img + div p:first-child {
  margin-bottom: 10px;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 920px) {
  .swiper-container2 .swiper-button-next, .swiper-container2 .swiper-button-prev {
    width: 10%;
  }

  .l-header > ul:first-of-type {
    margin-bottom: 0;
  }
  .l-header > ul:first-of-type li {
    width: 100% !important;
    padding: 10px 0;
  }
  .l-header > ul:first-of-type li:first-child {
    border-top: 1px solid CurrentColor;
    border-bottom: 1px solid CurrentColor;
  }
  .l-header > ul:first-of-type li:first-child span {
    border-right: 0 none;
  }
  .l-header > ul:nth-of-type(2) {
    display: none;
  }
  .l-header > ul:nth-of-type(2) li {
    width: 100%;
    margin-top: 0;
    border-right: 0 none;
  }
  .l-header > div {
    display: block;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
  }
  .l-header > div span {
    display: inline-block;
    font-weight: 500;
    padding: 0 5px;
    transform: rotate(180deg);
    vertical-align: top;
  }
  .l-header > div:hover {
    color: #939393;
  }

  .l-content .big-img > div {
    width: 50%;
    left: 20px;
    top: 20px;
    height: 90%;
  }
  .l-content .big-img > div > div {
    width: 100%;
  }
  .l-content .big-img > div > div > span:first-child:after {
    background: transparent;
  }
  .l-content .big-img > div > div > span:first-child ~ * {
    display: none;
  }

  .swiper-container4 img {
    float: left;
    width: 50%;
  }
  .swiper-container4 img + div {
    bottom: 0;
    color: #000000;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    right: 0;
  }
  .swiper-container4 img + div p:first-child {
    margin-bottom: 10px;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .l-mou {
    width: 70%;
    margin: 80px auto 0;
    text-align: center;
    position: relative;
  }
  .l-mou .mou-items {
    display: none;
  }

  .video-list ul li {
    width: calc(50% - 33px);
  }

  .l-header ul:last-child li.slidedown dl {
    border-top: 1px solid #e6e6e6;
    bottom: -50px;
  }
  .l-header ul:last-child li.slidedown dl dd {
    border: 1px solid #e6e6e6;
    border-bottom: 0 none;
    border-top: 0 none;
    font-size: 15px;
    font-weight: normal !important;
    margin-right: -5px;
    padding: 15px 0;
    position: relative;
    width: 10%;
  }

  .history > div:first-child {
    width: auto;
    float: none;
  }
  .history > div:first-child > div {
    width: 80%;
  }
  .history > div:last-child {
    overflow: hidden;
    position: static;
    width: 80%;
    margin: 30px auto;
    padding-right: 0;
    right: 0;
    top: 0;
    transform: translateY(0);
  }
}
@media screen and (max-width: 1110px) {
  .a_i_box div.fl {
    padding: 0;
    width: auto;
    float: none;
    margin-right: 0;
  }
  .a_i_box div.fl + div {
    width: auto !important;
    position: static !important;
    transform: translateY(0) !important;
    padding-right: 0 !important;
    text-align: justify;
  }
  .a_i_box div.fl + div p:first-child {
    text-align: center;
  }

  .l-show .col-50 {
    width: 100%;
  }
  .l-show .col-50:nth-child(3) {
    padding-right: 0;
  }
  .l-show .col-50:last-child {
    padding-left: 0;
  }
}
